{% extends "layout.html" %}

{% set page = 'about' %}
{% block content %}
	<div class="section content about">
		<div class="container about">
			<div class="row">
				<div class="columns six card blur">
					<div class="row title">
						YOU'RE A MESS
					</div>

					<div class="row flavour">
						<div class="columns twelve">
							<div class="row">
								You need a website, your company needs an android app, your employees lack productivity, and your children's clothes are filthy.
							</div>

							<div class="row">
								<span>Let's fix that.</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="columns six card blur">
					<div class="row title">
						VERAVERE DOES
					</div>

					<div class="row flavour">
						<div class="columns six">
							<div class="row">Full Stack Development</div>
							<div class="row">Design Consulting</div>
							<div class="row">Local and Remote</div>
						</div>

						<div class="columns six">
							<div class="row">Desktop</div>
							<div class="row">Mobile</div>
							<div class="row">Web</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="columns six card blur">
					<div class="row title">
						WE KNOW
					</div>

					<div class="row flavour">
						<div class="columns six">
							<div class="row">Python</div>
							<div class="row">Django</div>
							<div class="row">Flask</div>
							<div class="row">WebGL</div>
							<div class="row">C#</div>
						</div>
						<div class="columns six">
							<div class="row">PHP</div>
							<div class="row">Java</div>
							<div class="row">JavaScript</div>
							<div class="row">Ruby on Rails</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
