{% extends "layout.html" %}

{% set page = 'about' %}
{% block content %}
	<div class="section content about">
		<div class="container about">
			<div class="row flavour">
				<div class="columns twelve catch">
					<img class="logo" src="/static/res/svg/wing.svg">
				</div>
			</div>
			<div class="row flavour">
				<ul class="columns twelve catch">
					<li>design consulting</li>
					<li>full stack web development</li>
					<li>desktop, mobile, and web applications</li>
				</ul>
			</div>
			<div class="row flavour">
				<ul class="columns twelve catch">
					<li><span>/</span> Python</li>
					<li><span>/</span> Flask</li>
					<li><span>/</span> Django</li>
					<li><span>/</span> PHP</li>
					<li><span>/</span> JavaScript</li>
					<li><span>/</span> Ruby + Rails</li>
					<li><span>/</span> Java</li>
					<li><span>/</span> C#</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
