{% extends "layout.html" %}

{% set page = 'about' %}
{% block content %}
	<div class="section content about">
		<div class="container about">
			<div class="row">
				<div class="columns six card blur">
					<div class="row title">
						VERAVERE
					</div>

					<div class="row flavour">
						<div class="columns six">
							<div class="row">design consulting</div>
							<div class="row">full stack development</div>
							<div class="row">desktop</div>
							<div class="row">mobile</div>
							<div class="row">web</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="row">
				<div class="columns six card blur">
					<div class="row title">
						CODE
					</div>

					<div class="row flavour">
						<div class="columns six">
							<div class="row">Python</div>
							<div class="row">Flask</div>
							<div class="row">Django</div>
							<div class="row">PHP</div>
						</div>
						<div class="columns six">
							<div class="row">JavaScript</div>
							<div class="row">Ruby + Rails</div>
							<div class="row">Java</div>
							<div class="row">C#</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
