{% extends "layout.html" %}

{% block content %}
	<div class="section nav">
		<div class="container">
			<div class="row">
				<ul>
					<li>
						<a href="#">about</a>
					</li><li> <!-- avoiding whitespace between -->
						<a href="#">work</a>
					</li><li>
						<a href="#">contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section content">
		<div class="container">
			
		</div>
	</div>

	<div class="section footer">
		<div class="container">
			
		</div>
	</div>
{% endblock %}
