{% extends "layout.html" %}

{% block content %}
	<div class="section nav">
		<div class="container">
			<div class="row">
				<ul>
					<li>
						<a href="#">about</a>
					</li><li> <!-- avoiding whitespace between -->
						<a href="#">work</a>
					</li><li>
						<a href="#">contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section content about">
		<div class="container about">
			<div class="row logo">
				<img class="logo u-max-full-width" src="/static/res/svg/logo.svg">
			</div>
			<div class="row text">
				<div class="six columns info">
					I'm a software engineer, designer, and full-stack web developer with over three years of experience in the industry. I have worked on a variety of projects for desktop, mobile, and web-based applications.
				</div>

				<div class="six columns info">
					Fluent in
					<ul>
						<li>Python</li>
						<li>Flask</li>
						<li>Django</li>
						<li>PHP</li>
						<li>JavaScript</li>
						<li>HTML5</li>
						<li>Ruby</li>
						<li>Rails</li>
						<li>Java</li>
						<li>C#</li>
					</ul>
					and am always and willing to learn more.
				</div>
			</div>
		</div>
	</div>

	<div class="section footer">
		<div class="container">
			<div class="row">
				<div class="four columns">
					ELIZABWTH &copy; 2016
				</div>
			</div>
		</div>
	</div>
{% endblock %}
