@import "partials/mixins";
@import "partials/colors";

$logo_width: 25.6rem;
$logo_padding: 35rem;

.container.about {
	@include centerer(true, true);
	@media (min-width: 550px) {
		width: 50%;
	}

	.logo {
		text-align: center;
		margin-right: -4.2rem;


		img.logo {
			max-width: $logo_width;
			padding-bottom: 1.2rem;
		}
	}

	.text {
		padding: 1.2rem;
		font-family: 'Lato', sans-serif;
		font-size: 1rem;
		text-transform: uppercase;
		color: black;
		background-color: $frost;

		.info {
			height: 100%;
			padding: .6rem;
			ul {
				margin-bottom: 0.2rem;
				list-style-type: square;
				li {
					color: $primary2;
					margin-left: 1.6rem;
					margin-bottom: 0.2rem;
				}
			}
		}
	}
}
