@import "partials/mixins";
@import "partials/colors";

$logo_width: 12.8rem;

.content.about {
	background-color: rgba($shade4, 0.75);
}

.container.about {
	padding: 6.4rem 0;
	opacity: 0;

	&.finish_animation {
		opacity: 1;
	}

	.flavour {
		overflow: hidden;
		//padding: 1.8rem;
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
		color: white;
		margin-bottom: 2.4rem;

		.catch {
			list-style-type: none;
			margin: 0;
			color: white;

			li {
				margin: 0;
			}
		}

		.info {
			position: relative;
			text-align: center;
		}

		.logo {
			width: $logo_width;
		}
	}
}
