@import "partials/mixins";
@import "partials/colors";

.content.contact {
	background-color: rgba($shade4, 0.75);
}

.container.contact {

	&.finish_animation {
		opacity: 1;
	}

	.contact_message_body {
		height: 256px;
		min-height: 256px;
	}
}
