@import "partials/mixins";
@import "partials/fonts";
@import "partials/colors";

body {
	padding: 0;
	margin: 0;
	background-color: black;
}
::selection {
  background: $tertiary1;
}
::-moz-selection {
  background: $tertiary1;
}

#background {
	z-index: -2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0;
}
#background_gradient {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgba(255,255,255,0), black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(255,255,255,0), black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(255,255,255,0), black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(255,255,255,0), black); /* Standard syntax (must be last) */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

$nav_height: 6.4rem;
$nav_btn_width: 10rem;

$footer_height: 2.4rem;

.nav {
	height: $nav_height;
	background-color: $frost;
	letter-spacing: 0.25rem;

	font-family: 'Montserrat', sans-serif;

	ul {
		white-space: nowrap;
		text-align: center;
		list-style-type: none;
		margin: 0;

		li {
			display: inline-block;
			margin: 0;
			
			line-height: $nav_height;
			font-size: 1rem;

			a {
				display: block;
				height: $nav_height;
				min-width: $nav_btn_width;

				text-decoration: none;
				text-transform: uppercase;
				text-align: center;
				color: black;

				@include transition(all 0.25s ease);

				&:hover,
				&:active {
					color: $primary1;
				}
			}
		}
	}
}

.content {
	display: block;
	min-height: calc(100% - #{$nav_height} - #{$footer_height});
	background-color: rgba(0, 0, 0, 0.75);
}

.footer {
	display: block;

	height: $footer_height;
	line-height: $footer_height;
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	background-color: $frost;
	color: black;
}
