@import "partials/mixins";
@import "partials/fonts";
@import "partials/colors";

body {
	padding: 0;
	margin: 0;
	background-color: $shade1;
	opacity: 0;
}
::selection {
  background: rgba($complementary, 0.5);
}
::-moz-selection {
  background: rgba($complementary, 0.5);
}
span {
	//margin: 0 0.6rem;
	color: $primary;
}

#bg_img {
	display: none;
}

#background {
	z-index: -20;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	opacity: 1;
}


#background_gradient {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgba(0,0,0,0), black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0,0,0,0), black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0,0,0,0), black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0,0,0,0), black); /* Standard syntax (must be last) */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#background_copy {
	display: none;
}

$nav_height: 7.2rem;
$nav_btn_width: 10rem;

$padding: 1.2rem;

$footer_height: 2.4rem;

.nav {
	height: $nav_height;
	background-color: rgba($shade9, 0.7);
	letter-spacing: 0.25rem;

	font-family: 'Montserrat', sans-serif;
	overflow: hidden;

	.logo {
		position: absolute;
		top: $padding;
		left: $padding*2;
		height: $nav_height - $padding*2;
		text-align: center;
	}

	ul {
		white-space: nowrap;
		text-align: right;
		list-style-type: none;
		margin: 0;

		li {
			display: inline-block;
			margin: 0;
			
			line-height: $nav_height;
			font-size: 1rem;

			a {
				display: block;
				height: $nav_height;
				min-width: $nav_btn_width;

				text-decoration: none;
				text-transform: uppercase;
				text-align: center;
				color: $shade2;

				@include transition(all 0.25s ease);

				&:hover,
				&:active,
				&.active {
					color: $primary;
				}
			}
		}
	}
}

.content {
	display: block;
	min-height: calc(100% - #{$nav_height} - #{$footer_height});

	.container {
		padding: 6.4rem $padding;

		.card {
			position: relative;
			padding: $padding $padding*3;
			background: rgba($shade9, 0.7);
			@include box-shadow(0.4rem, 0, 0, $primary_tint5, true);

			.title {
				margin-left: -$padding*3;
				margin-right: -$padding*3;
				padding-left: $padding*3;
				color: black;
				//background-color: $primary_tint5;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.2rem;
				line-height: 2.4rem;
				letter-spacing: 0.1rem;
			}
		}
	}
}

.footer {
	position: relative;
	display: block;

	height: $footer_height;
	line-height: $footer_height;
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	background-color: rgba($shade9, 0.7);
	color: $shade2;
}
