@import "partials/mixins";
@import "partials/fonts";
@import "partials/colors";

$nav_height: 6.4rem;
$nav_btn_width: 6.6rem;

.nav {
	height: $nav_height;
	background-color: white;
	letter-spacing: 0.25rem;

	font-family: 'Montserrat', sans-serif;

	ul {
		text-align: center;
		list-style-type: none;
		margin: 0;

		li {
			display: inline-block;
			margin: 0;
			
			line-height: $nav_height;
			font-size: 1rem;

			a {
				display: block;
				height: $nav_height;
				min-width: $nav_btn_width;
				padding: 0 1.6rem;

				text-decoration: none;
				text-transform: uppercase;
				text-align: center;
				color: black;

				@include transition(all 0.25s ease);

				&:hover,
				&:active {
					color: $primary1;
				}
			}
		}
	}
}
