$primary0: #E91E62;
$primary1: #F2709C;
$primary2: #ED457E;
$primary3: #E2004C;
$primary4: #AC003A;

$secondary0: #1AC673;
$secondary1: #66DDA4;
$secondary2: #3DD089;
$secondary3: #00B45D;
$secondary4: #008847;

$tertiary0: #D9F920;
$tertiary1: #E7FC75;
$tertiary2: #E0FA49;
$tertiary3: #D2F800;
$tertiary4: #A1BD00;

$shade0: #595959;
$shade1: #B9B8B8;
$shade2: #898989;
$shade3: #1C1C1C;
$shade4: #040303;
