$primary0: #8A376B;
$primary1: #CA91B5;
$primary2: #AA5F8E;
$primary3: #6F1D51;
$primary4: #4D0733;

$secondary0: #AD454D;
$secondary1: #F9B3B8;
$secondary2: #D4777E;
$secondary3: #8B242C;
$secondary4: #60090F;

$tertiary0: #5C3477;
$tertiary1: #9D81B0;
$tertiary2: #795692;
$tertiary3: #451D5F;
$tertiary4: #2B0A42;

$shade0: #7C7C7C;
$shade1: #C7C7C7;
$shade2: #9E9E9E;
$shade3: #595959;
$shade4: #2F2E2F;

$frost: rgba(255, 255, 255, 1);
