$primary: #e91e62;
$complementary: #1ee9a5;

$primary_shade1: #d11b58;
$primary_shade2: #ba184e;
$primary_shade3: #a31544;
$primary_shade4: #8b123a;
$primary_shade5: #740f31;
$primary_shade6: #5d0c27;
$primary_shade7: #45091d;
$primary_shade8: #2e0613;
$primary_shade9: #170309;

$primary_tint1: #eb3471;
$primary_tint2: #ed4a81;
$primary_tint3: #ef6191;
$primary_tint4: #f178a0;
$primary_tint5: #f48eb0;
$primary_tint6: #f6a5c0;
$primary_tint7: #f8bbcf;
$primary_tint8: #fad2df;
$primary_tint9: #fce8ef;

$primary_mono1: #aa1144;
$primary_mono2: #c1134d;
$primary_mono3: #d81557;
$primary_mono4: #e91e62;
$primary_mono5: #eb3572;
$primary_mono6: #ee4c82;
$primary_mono7: #f06493;


$shade1: #191919;
$shade2: #323232;
$shade3: #4c4c4c;
$shade4: #666666;
$shade5: #7f7f7f;
$shade6: #999999;
$shade7: #b2b2b2;
$shade8: #cccccc;
$shade9: #e5e5e5;
