//@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato|Quicksand|Varela+Round);
@font-face {
    font-family: 'walkway_oblique_semiboldRg';
    src: url('res/font/Walkway_Oblique/Walkway_Oblique_SemiBold-webfont.eot');
    src: url('res/font/Walkway_Oblique/Walkway_Oblique_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('res/font/Walkway_Oblique/Walkway_Oblique_SemiBold-webfont.woff') format('woff'),
         url('res/font/Walkway_Oblique/Walkway_Oblique_SemiBold-webfont.ttf') format('truetype'),
         url('res/font/Walkway_Oblique/Walkway_Oblique_SemiBold-webfont.svg#walkway_oblique_semiboldRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('res/font/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('res/font/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('res/font/Quicksand/Quicksand-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Varela_Round';
	src: url('res/font/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Subrayada', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Varela Round', sans-serif;
