@import "../partials/mixins";
@import "../partials/colors";

$header_height: 3.2rem;

#modal {
	z-index: 100;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(black, 0.75);


	.container.modal {
		//border: 1px solid black;
	}

	@media (min-width: 550px) {
		.container.modal {
			@include centerer(true, true);
			width: 85%;
			height: auto;
		}
	}

	.modal {
		width: 100%;
		height: 100%;
		padding: 0;

		#modal_head {
			background-color: $shade3;

			#modal_title {
				color: white;
				font-family: 'Lato', sans-serif;
				font-size: 1.6rem;
				font-weight: normal;
				letter-spacing: 0.1rem;

				width: 100%;
				height: $header_height;
				line-height: $header_height;
				text-align: center;
			}

			#modal_close {
				position: absolute;
				display: inline-block;
				top: 0;
				right: 0;
				height: $header_height;
				line-height: $header_height;
				font-size: 1.8rem;
				padding: 0 0.8rem;

				color: $primary0;

				&:hover {
					cursor: pointer;
				}
			}
		}

		#modal_content {
			display: block;
			color: white;

			#modal_status {
				display: block;
				position: relative;
				margin: auto;
				width: 6.4rem;
				height: 6.4rem;

				#circle,
				#check,
				#cross {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}
