<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>
	    	{{ page }}{% if page %} | {% endif %}veravere
	    </title>

		{% assets "scss_all" %}
			<link rel='stylesheet' type='text/css' href='{{ ASSET_URL }}'>
		{% endassets %}

		<script src="/static/js/jquery-1.12.2.min.js"></script>
		<script src="//cdn.jsdelivr.net/vivus/0.3.0/vivus.min.js"></script>
		<script src="/static/js/dom-to-image.min.js"></script>
		<script src="/static/js/StackBoxBlur.js"></script>
		<script src="/static/js/main.js"></script>
	</head>
	<body id="body">
		<div class="bg_container">
			<img id="background" src="/static/res/img/bg/bgbw.jpg" />
		</div>
		<div id="background_gradient"></div>

		<div class="section nav blur">
			<div class="container">
				<div class="row">
					<img class="logo" src="/static/res/svg/wing.svg">

					<ul>
						<li id="nav_about">
							<a href="{{ url_for('about') }}">about</a>
						</li><li id="nav_work"> <!-- avoiding whitespace between -->
							<a href="{{ url_for('work') }}">work</a>
						</li><li id="nav_contact">
							<a href="{{ url_for('contact') }}">contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function() {
				var active_page = '{{ page }}';
				if (active_page == 'about') {
					$('#nav_about').find('a').addClass('active');
				} else if (active_page == 'work') {
					$('#nav_work').find('a').addClass('active');
				} else if (active_page == 'contact') {
					$('#nav_contact').find('a').addClass('active');
				}
			});
		</script>

		{% include 'partials/_modal.html' %}
		{% block content %}{% endblock %}

		<div class="section footer blur">
			<div class="container">
				<div class="row">
					<div class="four columns">
						VERAVERE &copy; 2016
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
